{% extends 'base.html.twig' %}

{% block title %}Classe{% endblock %}

{% block body %}
    <h1>{{ classe.nameClasse }}</h1>

    <pre>
        {{ dump(classe.students) }}
    </pre>

    {% for student in classe.students %}
        <li>{{student.firstname.}}{{student.name}}</li>

    {% endfor %}

    <a href="{{ path('app_classe_index') }}">back to list</a>

    <a href="{{ path('app_classe_edit', {'id': classe.id}) }}">edit</a>

    {{ include('classe/_delete_form.html.twig') }}
{% endblock %}
